.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (max-width: 800px) {
    align-items: center;
  }

  .title {
    font-size: 30px;
    margin-bottom: 25px;
    cursor: pointer;
    transition: all 0.7s ease;

    &:hover {
      letter-spacing: 2px;
      color: #5a5a5a;
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }
}