.sign-in-and-sign-up {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 50px auto;

  @media screen and (max-width: 800px) {
    width: 90%;
    flex-wrap: wrap;

    .sign-in {
      padding-bottom: 40px;
      border-bottom: 2px solid black;

      .buttons {
        flex-direction: column;
      }
    }

    .sign-up {
      padding-top: 40px;
    }

    .custom-button {
      font-size: 12px;
      padding: 0 35px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}