* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 20px 70px;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}